$home-text-color: #77F1FF;

#home {
    display: flex;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    padding: 115px 0 200px;
    background-image: url('../images/matrix.png');
}
.container {
    padding: 0 30px;
    text-align: center;
}
#blurb-title {
    color: white;
    font-size: 55px;
    text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
}
#blurb {
    color: $home-text-color;
    display: block;
    padding: 35px 0 18px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

