$home-text-color: #77F1FF;
$menu-color: #fff;

#home {
    display: flex;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    padding: 115px 0 276px;
    background-image: url('../images/matrix.png');
    background-attachment: fixed;
}
.container {
    padding: 0 80px;
    text-align: center;
}
#blurb-title {
    color: white;
    font-size: 55px;
    text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
}
#blurb {
    color: $home-text-color;
    display: block;
    padding: 10px 0 18px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
.btn.btn-hire {
    background: hsla(0,0%,100%,.4);
    font-size: 20px;
    color: $menu-color;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    padding: 18px 26px;
    margin-top: 20px;
}
.icon-chevron-right {
    height: 17px;
    width: 10px;
    background: url("../images/chevron-right.png");
    display: inline-block;
    margin-left: 10px;
}
