$navbar-color: #77F1FF;
$menu-color: #fff;
/*top left navbar logo*/
/**********************/

.nav-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    zoom: 1;
    margin: auto;  
    background-color: $navbar-color;
    color: $menu-color;
    position: fixed;
    width: 100%;
}
.logo {
    height: 75px;
    width: 308px;
    display: inline-block;
    zoom: 1;
    padding: 0;
}
.logo-image {
    width: 75px;
    height: 75px;
    display: inline-block;
}
.logo-image img {
    width: 100%;
    height: auto;
    display: inline-block;
}
.logo-name {   
    height: 75px;
    width: 225px;
    display: inline-block;
    margin-left: 8px;
    float: right;
}
.logo-name h1 {
    font-size: 1.1em;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 16px;
    letter-spacing: 1px;
}
.logo-name h2 {
    font-size: 1.3em;
    margin: 0 auto;
    font-weight: lighter;
    display: inline-block;
    padding: 5 auto;
}

/*nav menu items*/
/****************/

.nav {
    margin-top: 2px;
    height: 75px;
    width: 400px;
    font-size: 1.2em;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    float: right;
    padding: 0;
}
.menu-nav_menu {
    margin: 0 auto;
}
.menu-item {
    padding-right: 3px;
    padding-left: 3px;
    height: 35px;
    display: inline-block;

    img {
        height: 100%;
        width: auto;
        display: inline-block;
    }
}
#linkedIn {
    top: 5px;
    position: relative;
    height: 25px;
    width: auto;
}
#github {
    top: 14px;
    position: relative;
    height: 45px;
    width: auto;
}