$font-stack: 'Montserrat', serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {  
    margin: 0 auto;
    font-family: $font-stack;
}

@import 'navbar';
@import 'home';
@import 'projects';
@import 'footer';