html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: "Montserrat", serif; }

/*top left navbar logo*/
/**********************/
.nav-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  zoom: 1;
  margin: auto;
  background-color: #77F1FF;
  color: #fff;
  position: fixed;
  width: 100%; }

.logo {
  height: 75px;
  width: 308px;
  display: inline-block;
  zoom: 1;
  padding: 0; }

.logo-image {
  width: 75px;
  height: 75px;
  display: inline-block; }
  .logo-image img {
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    border: 0.2px solid #818181; }

.logo-name {
  height: 75px;
  width: 225px;
  display: inline-block;
  margin-left: 8px;
  float: right; }

.logo-name h1 {
  font-size: 1.1em;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding-top: 16px;
  letter-spacing: 1px; }

.logo-name h2 {
  font-size: 1.3em;
  margin: 0 auto;
  font-weight: lighter;
  display: inline-block;
  padding: 5 auto; }

/*nav menu items*/
/****************/
.nav {
  margin-top: 2px;
  height: 75px;
  width: 400px;
  font-size: 1.2em;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  padding: 0; }

.menu-nav_menu {
  margin: 0 auto; }

.menu-item {
  padding-right: 3px;
  padding-left: 3px;
  height: 35px;
  display: inline-block; }
  .menu-item :hover {
    cursor: pointer; }
  .menu-item img {
    height: 100%;
    width: auto;
    display: inline-block; }

#linkedIn {
  top: 5px;
  position: relative;
  height: 25px;
  width: auto; }

#github {
  top: 14px;
  position: relative;
  height: 45px;
  width: auto; }

.active {
  color: black;
  box-shadow: 0px 2px 0px black; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */ }

#home {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  padding: 115px 0 276px;
  background-image: url("../images/matrix.png");
  background-attachment: fixed; }

.container {
  padding: 0 80px;
  text-align: center; }

#blurb-title {
  color: white;
  font-size: 55px;
  text-shadow: -3px -3px 0 #000,   3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; }

#blurb {
  color: #77F1FF;
  display: block;
  padding: 10px 0 18px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  text-shadow: -2px -2px 0 #000,   2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; }

.btn.btn-hire {
  background: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  padding: 18px 26px;
  margin-top: 20px; }

.icon-chevron-right {
  height: 17px;
  width: 10px;
  background: url("../images/chevron-right.png");
  display: inline-block;
  margin-left: 10px; }

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px 25px 100px;
  max-width: 900px;
  margin: auto;
  column-count: 2;
  column-width: 200px; }

.project-info {
  flex: 1 1 300px;
  padding: 0 50px; }

.project-title {
  font-size: 38px;
  margin: auto; }

.project-description {
  font-size: 14px;
  line-height: 26px;
  color: #868686; }

.portfolio-col-screenshot {
  flex: 1.5 1 300px;
  margin: auto;
  margin-bottom: 10px; }
  .portfolio-col-screenshot .mobile img {
    display: block;
    margin: 0 auto;
    max-width: 80%; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.separator {
  margin: auto;
  background-image: url("../images/separator.png");
  background-size: cover;
  height: 9px;
  width: 50%; }

#footer {
  padding: 60px 0 57px;
  background: #f3f3f3;
  font-size: 11px;
  font-family: open sans, sans-serif;
  clear: both;
  text-align: center;
  width: 100%; }

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none; }
  .footer-menu li {
    display: inline-block;
    margin: 0 15px;
    color: #818181; }
    .footer-menu li a {
      color: #818181; }
